.main_container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    flex-wrap: wrap;
    .cart_container {
        display: flex;
        border: 1px solid black;
        margin: 5px 0;
        padding: 5px;
        align-items: center;
        justify-content: space-between;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .item_block {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            img {
                margin: 0 10px;
            }
        }
    }
    .counter_block {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .delete_icon {
        width: 30px;
        height: 30px;
    }
}



