.shop_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px; 
}

.product_card {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;

    img {
        width: 100px;
        height: 100px;

    }
}