.header {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header_link {
    padding: 10px;
    text-decoration: none;
    color: black;
}

.header_link:hover {
    color: red;
}

.cartBtn {
    width: 30px;
    height: 30px;
    color: black;
    padding: 10px;
}

.header_link_counter {
    position: relative;
}
.header_link_counter::before {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -30px;
}

.header_link_item {
    position: absolute;
    top: 18px;
    color: white;
    left: -19px;
    font-size: 13px; 
}

